@use 'styles/_macros' as *;

.header {
  width: 100%;
  height: $header-height;
  background-color: white;
  position: fixed;
  box-shadow: $box-shadow;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  color: $main-color;
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
}

.nav {
  position: absolute;
  left: calc(50% - 320px);
  top: 0;
}

.tabFlex {
  display: flex;
  align-items: center;
}

.rightFlex {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}

.loginBtn {
  background-color: #e4e6eb;
  font-weight: 500;
  color: #666;
  border: 1px solid #666;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.bookmarksBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.dmBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.profileBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.menu {
  @include panel;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $header-height - 8px;
  right: 16px;
  padding: 8px;
}

.menuItem {
  border: none;
  background: none;
  font-weight: 500;
  cursor: pointer;
  color: #333;

  &:hover {
    color: #000;
  }
}
