@use 'styles/_macros' as *;

.header {
  width: 100%;
  height: $header-height;
  background-color: white;
  position: fixed;
  box-shadow: $box-shadow;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.flex1 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  color: $main-color;
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
}

.searchBar {
  background: url('/search-icon.svg') no-repeat 16px center;
  padding-left: 52px;
  padding-right: 16px;
  width: 300px;
  height: 48px;
  border-radius: 24px;
  background-color: #f0f2f5;
  border: none;
  outline: none;
}

.nav {
  position: absolute;
  left: calc(50% - 320px);
  top: 0;
}

.tabFlex {
  display: flex;
  align-items: center;
}

.flex2 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loginBtn {
  background-color: #e4e6eb;
  font-weight: 500;
  color: #65676b;
  border: 1px solid #65676b;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.bookmarksBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.dmBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.profileBtn {
  border: none;
  background: none;
  cursor: pointer;
}
