@use 'styles/_macros' as *;

.rightSidebar {
  width: 400px;
  background-color: white;
  padding: 16px;
  position: absolute;
  right: 16px;
  top: 16px;
  border-radius: $border-radius-big;
  box-shadow: $box-shadow;
}
