@use 'styles/_macros' as *;
@use 'sass:color';

.calendar {
  @include panel;
  margin-top: 16px;
  padding: 16px;

  h2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.dayNames {
  display: flex;
}

.dayName {
  width: calc(608px / 7);
  font-weight: 500;
}

.monthFlex {
  display: flex;
  flex-direction: column;
}

.weekFlex {
  display: flex;
}

.weekFlex:first-child {
  .existingDay {
    border-top: solid black 2px;
  }

  .emptyDay {
    border-bottom: solid black 1px;
  }

  .rightBorder {
    border-right: solid black 1px;
  }
}

.weekFlex:last-child {
  .existingDay {
    border-bottom: solid black 2px;
  }

  .emptyDay {
    border-top: solid black 1px;
  }

  .existingDay + .emptyDay {
    border-left: solid black 1px;
  }
}

.day {
  width: calc(608px / 7);
  height: calc(608px / 7);
  padding-left: 4px;
}

.existingDay {
  border: solid black 1px;
}

.existingDay:first-child {
  border-left: solid black 2px;
}

.existingDay:last-child {
  border-right: solid black 2px;
}

.currentDay {
  background-color: $light-purple;
}
