@use 'sass:color';

$header-height: 64px;
$bg-color: #f0f2f5;
$main-color: #544673;
$light-purple: #d0d2f2;
$blue: #2964d9;
$green: #61ad6c;
$main-color-darker: color.scale($main-color, $lightness: -15%);
$main-color-lighter: color.scale($main-color, $lightness: 15%);
$red: #bf1515;
$red-darker: color.scale($red, $lightness: -9%);
$border-radius: 8px;
$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
$post-width: 640px;

@mixin panel {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}
