@use 'styles/_macros' as *;
@use 'sass:color';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $bg-color;
}

body,
button,
input,
textarea,
select {
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: $header-height;
  }
}

p {
  white-space: pre-wrap;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: $main-color;
  font-weight: 500;

  &:hover {
    color: $main-color-lighter;
  }
}

.mainButton {
  background-color: $main-color;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: $border-radius;
  padding: 3px 12px;
  cursor: pointer;
  box-shadow: $box-shadow;

  &:hover {
    background-color: $main-color-darker;
  }

  &:disabled {
    background-color: gray;
    cursor: default;
  }
}

.mainButtonNegative {
  background-color: $red;

  &:hover {
    background-color: $red-darker;
  }
}

.mainButtonNeutral {
  background-color: #e8e8e8;
  box-shadow: inset 0px 0px 0px 1px #666;
  color: #666;

  &:hover {
    background-color: #f2f2f2;
  }
}

input,
textarea {
  padding: 4px 8px;
  border: 1px solid #666;
  border-radius: $border-radius;

  &:focus {
    outline: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  }

  &::placeholder {
    color: #999;
  }
}

.centerVertically {
  display: flex;
  align-items: center;
}

.indicator {
  background-color: $main-color;
  height: 3px;
}

li {
  list-style: none;
}

.bold {
  font-weight: 500;
}
