@use 'styles/_macros' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: $bg-color;
}

body,
button,
input {
  color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: $header-height;
  }
}

a {
  text-decoration: none;
  color: $main-color;
  font-weight: 500;

  &:hover {
    color: $main-color-lighter;
  }
}

.mainButton {
  background-color: $main-color;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: $border-radius;
  padding: 3px 12px;
  cursor: pointer;

  &:hover {
    background-color: $main-color-darker;
  }
}

.mainButtonNegative {
  background-color: $red;

  &:hover {
    background-color: $red-darker;
  }
}

.centerVertically {
  display: flex;
  align-items: center;
}

.indicator {
  background-color: $main-color;
  height: 3px;
}

li {
  list-style: none;
}

.bold {
  font-weight: 500;
}
