@use 'styles/_macros' as *;

.managementList {
  @include panel;
  margin-top: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.membersListElement {
  display: flex;
  justify-content: space-between;

  .buttons {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.modal {
  @include panel;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 400px;

  h2 {
    font-weight: 500;
    font-size: 20px;
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
  }
}

// .authorizeModal {
//   .inputFlex {
//     display: flex;
//     flex-direction: column;
//     gap: 16px;
//   }

//   .roleInput {
//     width: 194px;
//   }

//   ul {
//     display: flex;
//     flex-direction: column;
//     gap: 4px;

//     input {
//       margin-right: 4px;
//     }
//   }
// }

.applicationModal {
  width: 500px;

  p {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.modalButtons {
  display: flex;
  gap: 16px;
}
