@use 'styles/_macros' as *;

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 24px;
    font-weight: 500;
    margin-top: -48px;
  }
}

.title {
  @include panel;
  width: 100%;
  padding: 4px 16px;

  h2 {
    font-weight: 500;
    font-size: 20px;
  }
}

.bannerFileInput,
.pfpFileInput {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
}

.pfpFileInput {
  left: 0;
  bottom: 62px;
  border-radius: 50%;
}

.banner,
.pfp {
  background-image: url('/icons/camera-icon.svg');
  width: 100%;
}

.bannerContainer {
  width: 100%;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner {
  height: 200px;
}

.pfpContainer {
  position: relative;
}

.pfp {
  width: 120px;
  height: 120px;
  border: 4px solid $bg-color;
  border-radius: 50%;
  position: relative;
  bottom: 62px;
}

.content {
  position: relative;
  width: 640px;
  margin-top: 32px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.infoPanel {
  @include infoPanel;

  .editBtn {
    background: none;
    border: none;
    position: absolute;
    right: 16px;
    cursor: pointer;
  }

  .editConfirmationButtons {
    position: absolute;
    right: 16px;
    display: flex;
    gap: 16px;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    margin-top: 48px;
  }

  .btnFlex {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .tagsFlex {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
  }

  .socials {
    display: flex;
    gap: 4px;

    img {
      width: 40px;
    }
  }

  .socialsEditing {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .socialsEditItem {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      width: 40px;
    }
  }
}

.tag {
  background-color: #f0f0f0;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
  color: #333;
  font-weight: 400;

  &:hover {
    color: #000;
  }
}

.applyModal {
  @include panel;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 16px;
}

.leaveModal {
  @include panel;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 16px;

  .buttons {
    display: flex;
    justify-content: space-around;
  }
}
